<center><h1> please enter a number </h1></center>



<center><%=isbn_num%><%=message_one%><%=results%><%=number%>
		
<form action='isbn_num' method='post'>
		<input type='text' name='isbn_input'>
		<input type='submit'>

</form></center>
